h2{
  margin: 0;
}
a{
  text-decoration: none;
}
.main{
  width: 275px;
  height: 275px;
}
.content{
  border: solid #D01257 1px;
}
.tileInfo {
  margin-left: 5px;
  display: inline-block;
  overflow: hidden;
  width: 24px;
  height: 24px;
  cursor: Default;
  background: url(../../assets/imgSports/questionmark.png) no-repeat;
}
.tileInfo:hover{
  background-position: left bottom;
}

#echarts-canvas {
  width: 175px;
  height: 175px;
}

.body{
  display: flex;
  justify-content: center;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main .controls ul{
  list-style: none;
  display: flex;
}

.goal{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.meter-center-icon{
  position: absolute;
  top: 67px;
  left: 120px;
  width: 32px;
  height: 40px;
  background:  url(../../assets/imgSports/calorie.png) no-repeat;
  background-size: contain;
}

.meterText{
  display: flex;
  justify-content: center;
}
.metricContainer .number{
  display: inline-block;
  font-size: 48px;
  font-family: 'Proxima Nova Thin', sans-serif;
  color: #585858;
}

.metricContainer .unit{
  font-size: 18px;
  font-family: 'Proxima Nova Light', sans-serif;
  color: #aeaeae;
  margin-left: 5px;
}
.controls{
  display: flex;
  justify-content: center;
}
.controls ul{
  margin: 0;
  padding: 0;

}
.controls ul li{
  height: 44px;
  padding: 5px 10px;
  background: #3f4b59;
  display: flex;
}
.controls ul li:hover{
  background: #556375;
}

.controls ul li span{
  color: #fff;
  font-family: "Proxima Nova Bold", "Arial", sans-serif;
  font-size: 1rem;
}

.controls .controlsList a{
  /*height: 44px;*/
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.controls .leftSide{
  border-bottom-left-radius: 4px;
}
.controls .rightSide{
  border-bottom-right-radius: 4px;
  padding-right: 10px;
}
.controls .controlsList .midSide{
  background: #ff3f85;
}
.controls .controlsList .midSide:hover{
  background: #fd78a8;
}

.controls .expandButton .img-expandButton{
  display: inline-block;
  width: 30px;
  height: 30px;
}

.controls .settingsButton .img-settingsButton{
  display: inline-block;
  width: 25px;
  height: 25px;
}

.controls .moreButton .img-arrowRightButton{
  display: inline-block;
  margin-left: 10px;
  font-size: 18px;
  color: #aaa;
}

.img-settingsButton{
  background: url('../../assets/imgSports/settingsbutton.png') no-repeat;
  background-size: contain;
}

.img-expandButton{
  background: url('../../assets/imgSports/expendbutton.png') no-repeat;
  background-size: contain;
}

.showControlsDoorBar{
  opacity: 0;
  height: 5px;
}

.fade-enter-active{
  transition: opacity .5s
}
.fade-enter{
  opacity: 0
}
